<% @faqs.each do |faq| %>
  <details class="group rounded-2xl border-2 border-white/30 p-6 hover:border-white/50 transition-colors" style="background-color: #416970;">
    <summary class="cursor-pointer font-semibold text-lg text-white group-hover:text-gray-200 transition-colors">
      <%= faq[:question] %>
    </summary>
    <p class="mt-4 text-white leading-relaxed"><%= faq[:answer] %></p>
  </details>
<% end %>