<% if notice.present? %>
  <div class="mb-6 rounded-xl border border-gray-200 bg-gray-50 px-4 py-3 text-black">
    <%= notice %>
  </div>
<% end %>

<% if alert.present? %>
  <div class="mb-6 rounded-xl border border-gray-200 bg-gray-50 px-4 py-3 text-black">
    <%= alert %>
  </div>
<% end %>

<% if flash[:info].present? %>
  <div class="mb-6 rounded-xl border border-gray-200 bg-gray-50 px-4 py-3 text-black">
    <%= flash[:info] %>
  </div>
<% end %>

<% if flash[:warning].present? %>
  <div class="mb-6 rounded-xl border border-gray-200 bg-gray-50 px-4 py-3 text-black">
    <%= flash[:warning] %>
  </div>
<% end %>
