<div class="rounded-xl border-2 border-[#416970] p-4 sm:p-5 bg-blue-50 shadow">
  <div class="flex items-start gap-3">
    <div>
      <p class="text-base sm:text-[15px] text-gray-700 leading-relaxed"><%= service[:description] %></p>
    </div>
  </div>
</div>
